<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article</title>
        <!--
        <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.scss">
        <link rel="stylesheet" href="/styles/header.scss">
        <link rel="stylesheet" href="/styles/form.scss">
        <link rel="stylesheet" href="/styles/footer.scss">
        -->
    </head>

    <body>

        <header>
            <div class="headTitle ">
                Natural Language Processing
            </div>
           
        </header>

        <main>
            <section>
                <form id = "form">
                    <input id="name" type="text" name="input" value="" placeholder="Type the URL">
                    <input type="submit" name="" value="Analyze" id = "submitbtn" >
                </form>
            </section>

            <section>
                <strong id = "resultsTitle">Text Analysis Results:</strong>
                <div id = "results"></div>
            </section>
        </main>
        <footer id="footer">
            <div class="container">
               <strong>Sentiment analysis (or opinion mining)</strong> is a natural language processing technique used to determine whether data is positive, negative or neutral. Sentiment analysis is often performed on textual data to help businesses monitor brand and product sentiment in customer feedback, and understand customer needs.
            </div>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
     
    </body>
</html>
